* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background: rgb(208, 208, 240); /* Radium-like gradient */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    font-size: 1rem;
  }

  .navbar-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
  }
  
  .navbar-logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-img {
    width: 100px; 
    height: auto; 
  }

  .navbar-auth {
    display: flex;
    align-items: center;
  }
  
  .auth-button {
    background: none;
    border: none;
    color: #8c7a7a;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .auth-button:hover {
    color: #000000; /* Change to the desired hover color */
  }

  @media screen and (max-width: 960px) {
    .navbar {
      background: rgb(208, 208, 240); /* Radium-like gradient */
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      font-size: 1.2rem;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
}